
<html lang="ja">
    <head>
       <meta charaset="utf-8">
       <title>Bitcoin Rate</title>
       <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
      <div id="app">
        <h2>Bitcoin Rate</h2>
        <section v-if="hasError">Error</section>
        <section v-else>
          <ul v-cloak>
            <!-- valueをrate、keyをrateと指定 -->
            <li v-for="(rate, currency) in bpi">
              {{ currency }} : {{ rate.rate_float |  | currencyDecimal }}
            </li>
          </ul>
        </section>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
      <!-- main.jsより先に読み込む -->
      <script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
      <script src="js/main.js"></script>
    </body>
  </html>