<html lang="ja">
  <head>
      <meta charaset="utf-8">
      <title>Hello Vue.js</title>
      <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div id="app">
      <input type="radio" id="red" value="Red" value="color" v-model="color">
      <label for="red">Red</label>
      <input type="radio" id="green" value="Green" value="color" v-model="color">
      <label for="green">Green</label>
      <input type="radio" id="blue" value="Blue" value="color" v-model="color">
      <label for="blue">Blue</label>
      <p>
        {{ color }}
      </p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>