<html lang="ja">
  <head>
     <meta charaset="utf-8">
     <title>Hello Vue.js</title>
     <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div id="app">
      <ul>
        <!-- value + in object -->
        <li v-for="value in user">{{ value }}</li>
      </ul>
      <hr>
      <ul>
        <li v-for="(value, key) in user">{{ key}}：{{ value }}</li>
      </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>